langchain
langchain-core
langchain-community
langchain-text-splitters
pypdf
pymupdf
sentence-transformers
pgvector
langchain-groq
python-dotenv
fastapi
uvicorn
python-multipart
docx2txt
openpyxl
unstructured
sqlalchemy
psycopg[binary]
alembic
python-jose[cryptography]
google-auth
rank-bm25
